<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Template</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="js/navigation.js"></script>
    </head>
    <body>
        <nav id="mainNav" class="offcanvas">
            <span id="toggleMenu" class="open-menu"><i class="fa"></i></span>
            <ul>
                <li>
                    <a href="#" class="active"><i class="fa fa-home"></i>Home</a>
                    <ul>
                        <li>
                            <a href="#" class=""><i class="fa fa-trello"></i>Trello</a>
                        </li>
                        <li>
                            <a href="#" class=""><i class="fa fa-slack"></i>Slack</a>
                        </li>
                        <li>
                            <a href="#" class="active"><i class="fa fa-indent"></i>Some subpage</a>
                            <ul>
                                <li>
                                    <a href="#" class=""><i class="fa fa-floppy-o"></i>A sub-sub-page</a>
                                </li>
                                <li>
                                    <a href="#" class="active"><i class="fa fa-plane"></i>An aeroplane icon</a>
                                </li>
                                <li>
                                    <a href="#" class=""><i class="fa fa-sort-alpha-desc"></i>Something about sorting</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble"></i>Page</a>
                </li>
            </ul>
        </nav>
        <header>
            <h1>Integreat - Augsburg</h1>
            <div id="searchbox" class="search">
                <form>
                    <input type="search" placeholder="Search...">
                    <button>
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div id="languageSelect" class="language-select">
                <select>
                    <option><img src="#">Deutsch</option>
                    <option>Englisch</option>
                    <option>Arabisch</option>
                </select>
            </div>
        </header>
        <main>
            <section>
                <h2>This is not a title</h2>
                <nav id="breadcrumb" class="breadcrumb">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#" class="active">Some Subpage</a>
                        </li>
                        <li>
                            <a href="#" class="active">An aeroplane icon</a>
                        </li>
                    </ul>
                </nav>
                <div>
                    <aside class="tldr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ex dui, accumsan ut dui a, malesuada laoreet tellus.
                    </aside>
                    <p class="full-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ex dui, accumsan ut dui a, malesuada laoreet tellus. Aliquam erat volutpat. Fusce semper quam eget sapien aliquet condimentum. Morbi eu sem id tellus condimentum elementum sed at nisl. Vivamus ac neque eget dolor ornare consectetur. Nam lobortis odio at metus vestibulum, sit amet fringilla arcu fringilla. Donec luctus tortor ut dolor lacinia accumsan.

                        Maecenas cursus leo augue, id tincidunt justo lobortis id. In ac posuere nibh. Etiam nec volutpat ante, finibus accumsan nibh. Praesent hendrerit sollicitudin elit, ac ullamcorper nisl volutpat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt lacinia libero egestas venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum quam vitae dui interdum congue.

                        Curabitur vulputate efficitur erat et sodales. Curabitur sagittis nibh condimentum, pulvinar neque in, interdum odio. Proin bibendum, felis in viverra facilisis, nibh tortor eleifend felis, ac bibendum lorem ipsum sodales libero. Nullam congue ut est quis maximus. Pellentesque vulputate diam eget pharetra porta. Maecenas vel tellus dapibus, ullamcorper mauris eget, sollicitudin odio. Curabitur faucibus mattis quam, et sagittis sapien eleifend a. Nunc justo nulla, tempus et risus hendrerit, efficitur dignissim purus. Donec in libero elit. Pellentesque facilisis ligula mi, in fringilla ligula volutpat eleifend. Morbi venenatis, ex vel vulputate interdum, risus nisl fringilla dolor, efficitur efficitur ex nisi ut turpis. Maecenas porta justo odio.
                    </p>
                </div>
                <div>
                    <aside class="tldr">
                        Phasellus eget mi mauris. Donec efficitur sem ac lectus congue, eu sagittis neque pharetra.
                    </aside>
                    <p class="full-content">
                        Phasellus eget mi mauris. Donec efficitur sem ac lectus congue, eu sagittis neque pharetra. Donec id tempor eros. Ut sed condimentum odio. Aliquam diam nulla, accumsan et nisi vitae, malesuada congue erat. Praesent volutpat enim id nisl cursus interdum. Integer rutrum quam sed rhoncus tempor. Mauris a leo eu dolor congue mattis. Nullam quis dapibus mi, sit amet vestibulum neque. Ut rutrum, est non tincidunt fermentum, lorem arcu dignissim nisl, vitae gravida libero nisi quis mauris. Nam a ipsum non nunc facilisis placerat non nec nunc. Quisque quis augue dolor.

                        Sed suscipit augue nec dui consectetur, vitae fermentum dolor tincidunt. Donec vitae massa sed ipsum ultrices consectetur. Proin eget mauris luctus, feugiat nisi sed, aliquam magna. Aenean dictum metus nunc. Aenean feugiat convallis dolor. Maecenas sit amet nulla tristique, vehicula purus vitae, gravida erat. Quisque id feugiat metus. Donec laoreet eros quis neque sollicitudin, vitae fringilla purus ultricies. Ut scelerisque fermentum vulputate. Sed dictum tincidunt metus. Cras accumsan est turpis, quis laoreet dolor consequat quis. Nunc porta urna leo, nec facilisis turpis ultricies ullamcorper.
                    </p>
                </div>
            <section>
        </main>
    </body>
</html>
